
@media screen and (max-width: 420px){

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .row{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin-top: 0;
        padding: 15px 0 10px 0;
    }

    .row img {
        width: 27%;
        height: 27%;
    }

    h1, .row>.left, .row>.center{
        margin-bottom: 20px;
    }

    /* lezioni -------------------------- */
    
    #lezioni .row{
        background-color: #F2F2CD;
    }

    #lezioni .row>.left, #lezioni .row>.right {
        width: 100%;
    }

    /* steps -------------------------- */

    #steps .row{
        background-color: #F9F9F9;
    }

    #steps .row>.left, #steps .row>.center, #steps .row>.right {
        width: 100%;
    }



}