
@media screen and (max-width: 420px){

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* Common*/
    .row{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        padding: 15px 0 10px 0;
    }    

    #lezioni img, #steps img, #why img {
        height: 90px;
    }

    h1, .left, .central, .first, .second{
        margin-bottom: 20px;
        width: 100%;
    }

    #lezioni .row, #why .row{
        background-color: #F2F2CD;
    }

    /* Individual */

    #lezioni .row>.left, #lezioni .row>.right {
        width: 95%;
    }


    #steps .row>.left, #steps .row>.central, #steps .row>.right {
        width: 95%;
    }

    
    #why .row>.first, #why .row>.second, #why .row>.third {
        width: 95%;
        margin-top: 0;
    }
}

/* BONUS TABLET */

@media screen and (min-width: 421px) and (max-width: 992px){

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* Common */

    .row{
        width: 98%;
        margin-top: 0;
        padding: 20px 0;
    }  

    #lezioni img, #steps img, #why img {
        height: 110px;
        margin-bottom: 10px;
    }

    h1{
        margin-bottom: 20px;
    }

    #lezioni, #why{
        background-color: #ffece6;
    }

    /* Individual */

    #why .row{
        width: 80%;
    }

    #why .row>.first, #why .row>.second, #why .row>.third {
        margin-top: 0;
    }

    #why .row>.first, #why .row>.second{
        margin-bottom: 20px;
    }

    

   
}