
@media screen and (max-width: 420px){

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* COMMON */

    .row{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        padding: 15px 0 10px 0;
    }    

    #lezioni img, #steps img, #why img {
        width: 27%;
        height: 27%;
    }

    h1, .left, .central, .first, .second{
        margin-bottom: 20px;
        width: 100%;
    }

    /* lezioni -------------------------- */
    
    #lezioni .row{
        background-color: #F2F2CD;
    }

    #lezioni .row>.left, #lezioni .row>.right {
        width: 95%;
    }

    /* steps -------------------------- */

    #steps .row>.left, #steps .row>.central, #steps .row>.right {
        width: 95%;
    }

    /* why -------------------------- */

    #why .row{
        background-color: #F2F2CD;
    }
    
    #why .row>.first, #why .row>.second, #why .row>.third {
        width: 95%;
        margin-top: 0;
    }


}